body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

#book {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 1rem 0;
  position: relative;
}

#canvas-background {
  background-color: white;
  position: absolute;
}

#canvas {
  position: absolute;
  bottom: 0;
}

nav {
  display: flex;
  justify-content: center;
}

#buttons {
  width: 920px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.5rem;
}
